/*公共样式设置*/

body {
    padding: 0;
    margin: 0;
    font-family: Arial;
}

a {
    text-decoration: none;
    color: rgb(101, 101, 101);
    font-size: 12px;
}


/*头部样式设置*/

header {}

header .top {
    display: table;
}

header .top .top_left,
header .top .top_right {
    display: table-cell;
}

header .top .top_left img:last-child {
    margin-top: -16px;
    padding-left: 10px;
}

header .top .top_right ul {
    font-size: 12px;
    padding-left: 0;
}

header .top .top_right ul li {
    display: inline;
    list-style-image: url("../img/pc/top_menu_icon.gif");
}

header .top .top_right .tel_logo,
header .top .top_right .tel_number,
header .top .top_right .tel_number_shadow {
    background: url("../img/pc/header_top_right.png") top left no-repeat;
}

header .top .top_right .tel_logo {
    width: 52px;
    height: 58px;
    background-position: -10px -10px;
}

header .top .top_right .tel_number {
    width: 182px;
    height: 18px;
    background-position: -10px -78px;
}

header .top .top_right .tel_number_shadow {
    width: 168px;
    height: 17px;
    background-position: -10px -106px;
}

header nav,
footer nav {
    height: 35px;
    background: -webkit-linear-gradient(top, rgb(1, 126, 211), rgb(18, 166, 231));
    background: -moz-linear-gradient(top, rgb(1, 126, 211), rgb(18, 166, 231));
    background: -o-linear-gradient(top, rgb(1, 126, 211), rgb(18, 166, 231));
    background: linear-gradient(top, rgb(1, 126, 211), rgb(18, 166, 231));
    font-size: 14px;
    text-align: center;
}

header nav ul,
footer nav ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

header nav ul li,
footer nav ul li {
    list-style-type: none;
    padding-left: 28px;
    padding-right: 28px;
}

header nav ul li a,
footer nav ul li a {
    color: rgb(255, 255, 255);
}

header nav ul {
    padding-top: 4.5px;
}

header nav ul li {
    display: inline-block;
    font-weight: bold;
    height: 30px;
}

header nav ul li:nth-child(2) {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: rgb(255, 255, 255);
}

header nav ul li:nth-child(2) a {
    color: rgb(0, 0, 0);
}


/*正文部分样式设置，使用了双飞翼布局*/

section {
    height: 1050px;
    overflow: hidden;
}

section .left {
    float: left;
    width: 270px;
    height: 800px;
    margin-left: -100%;
    margin-bottom: -9999px;
    padding-bottom: 9999px;
}

section .left .bulletin {
    width: 230px;
    height: 210px;
    margin-left: 19px;
    margin-right: 19px;
    margin-top: 20px;
    border: 1px solid rgb(102, 102, 102);
    border-radius: 10px;
    margin-left: 8px;
    margin-top: 8px;
}

section .left .bulletin .bulletin_title {
    height: 26px;
}

section .left .bulletin .bulletin_title img {
    margin: 4px 0 4px 8px;
}

section .left .bulletin .bulletin_title span:first-child {
    font-size: 14px;
}

section .left .bulletin .bulletin_title span:last-child {
    font-size: 12px;
    color: rgb(255, 0, 0);
}

section .left .bulletin .bulletin_content ul {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0;
    margin-bottom: 0;
}

section .left .bulletin .bulletin_content ul li {
    list-style-image: url("../img/pc/bulletin_head.png");
    border-bottom: 1px dotted rgb(153, 153, 153);
    padding-top: 2px;
    padding-bottom: 2px;
}

section .left .bulletin .bulletin_content ul li:last-child {
    border-bottom-width: 0;
}

section .left .trends {
    width: 230px;
    height: 320px;
    border: 1px solid rgb(102, 102, 102);
    border-radius: 10px;
    margin-left: 8px;
    margin-top: 8px;
}

section .left .trends .trends_title {
    height: 26px;
}

section .left .trends .trends_title span {
    display: block;
    font-size: 14px;
    padding: 5px 0 5px 30px;
}

section .left .trends .trends_content ul {
    padding-left: 10px;
}

section .left .trends .trends_content ul li {
    list-style-type: none;
    padding-top: 2px;
    padding-bottom: 2px;
}

section .left .trends .trends_content ul li a span {
    color: rgb(0, 0, 255);
}

section .left .courses {
    width: 230px;
    height: 170px;
    border: 1px solid rgb(102, 102, 102);
    border-radius: 10px;
    margin-left: 8px;
    margin-top: 8px;
}

section .left .courses .courses_title {
    background: -webkit-linear-gradient(top, rgb(1, 126, 211), rgb(18, 166, 231));
    background: -moz-linear-gradient(top, rgb(1, 126, 211), rgb(18, 166, 231));
    background: -o-linear-gradient(top, rgb(1, 126, 211), rgb(18, 166, 231));
    background: linear-gradient(top, rgb(1, 126, 211), rgb(18, 166, 231));
    height: 26px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

section .left .courses .courses_title span {
    color: rgb(255, 255, 255);
    display: block;
    font-size: 14px;
    padding: 5px 0 5px 30px;
}

section .left .courses .courses_content {
    background-color: rgb(233, 241, 251);
}

section .left .courses .courses_content ul {
    margin: 0;
    line-height: 1.3;
}

section .left .cases {
    width: 230px;
    height: 120px;
    border: 1px solid rgb(102, 102, 102);
    border-radius: 10px;
    margin-left: 8px;
    margin-top: 8px;
}

section .left .cases .cases_title {
    height: 26px;
}

section .left .cases .cases_title img {
    margin: 4px 0 4px 8px;
}

section .content {
    float: left;
    width: 100%;
    height: 1050px;
    margin-bottom: -9999px;
    padding-bottom: 9999px;
}

section .content .inner {
    margin-left: 270px;
    margin-right: 270px;
}

section .content .inner div {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    width: 100%;
}

section .content .inner .brief {
    height: 175px;
    border-bottom: 1px dotted rgb(0, 0, 0);
}

section .content .inner .brief .brief_title span:first-child {
    font-size: 14px;
}

section .content .inner .brief .brief_title span:last-child,
section .content .inner .news .news_title span:last-child,
section .content .inner .clients .clients_title span:last-child,
section .content .inner .consultant .consultant_title span:last-child {
    font-size: 12px;
    color: rgb(255, 0, 0);
}

section .content .inner .brief .brief_content img {
    float: left;
    padding-right: 10px;
}

section .content .inner .brief .brief_content {
    font-size: 12px;
    line-height: 1.5;
}

section .content .inner .center_ad,
section .content .inner .hardware {
    text-align: center;
}

section .right {
    float: right;
    width: 270px;
    height: 800px;
    margin-left: -270px;
    margin-bottom: -9999px;
    padding-bottom: 9999px;
}

section .right .spotlight {
    display: table;
    width: 235px;
    margin-left: 8px;
    margin-top: 8px;
}

section .right .spotlight form,
section .right .spotlight img {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

section .right .spotlight form {
    padding-right: 10px;
}

section .right .certificate {
    width: 235px;
    height: 420px;
    margin-top: 20px;
    border: 1px solid rgb(102, 102, 102);
    border-radius: 10px;
    margin-left: 8px;
    margin-top: 8px;
    text-align: center;
}

section .right .certificate img:first-child {
    margin-top: 3px;
}


/*底部样式，其中nav标签的部分样式与头部的nav标签承载内容相同，因此已在头部样式中进行设置*/

footer {
    text-align: center;
}

footer nav {
    font-size: 12px;
}

footer nav ul {
    padding-top: 9.5px;
}

footer nav ul li {
    display: inline;
    border-right: 1px solid rgb(255, 255, 255);
}

footer nav li:last-child {
    border-right-width: 0;
}

footer .copyright {
    padding-top: 20px;
    padding-bottom: 20px;
}

footer .copyright span {
    font-size: 12px;
}
