/*设置页面主体及各个元素的样式。*/

body {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

h2 {
    padding: 20px;
    font-size: 18px;
}

p, form {
    padding: 10px 20px 10px 20px;
}

input {
    font-size: 14px;
}

#str {
    width: 400px;
    height: 20px;
}

input[type="button"] {
    width: 120px;
}
