body {
    padding: 0px;
    margin: 0px;
    font-family: Arial;
}

.table_header {
    margin-left: 25%;
}

.table_header tr td:nth-child(2) {
    font-size: 18px;
}

.table_header_menu ul li {
    display: inline;
}

.table_header_menu ul li a {
    color: rgb(255, 0, 153);
    text-decoration: none;
    font-size: 12px;
}

.table_content {
    font-size: 12px;
    margin-left: 25%;
    border: 1px solid rgb(204, 204, 204);
    border-collapse: collapse;
}

.table_content tr td:nth-child(1) {
    width: 20%;
}

.table_content tr td {
    height: 24px;
    padding: 4px;
}

.required {
    color: rgb(255, 0, 0);
}

.blue {
    color: rgb(0, 0, 255);
}

.table_content_title {
    background-color: rgb(238, 238, 238);
    color: rgb(0, 51, 153);
    font-weight: bold;
}

.footer {
    color: rgb(102, 102, 102);
    text-align: center;
    font-size: 12px;
    padding: 4px 0 4px 0;
}
