body {
    padding: 0px;
    margin: 0px;
    font-family: Arial;
    font-size: 16px;
}

header {
    vertical-align: middle;
    padding: 32px 0;
}

#odd_box {
    width: 500px;
    height: 120px;
    padding: 10px;
    background-color: rgb(240, 240, 244);
    border: 5px solid rgb(18, 117, 185);
    margin: 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    overflow-y: scroll;
}

#standard_box {
    width: 500px;
    height: 120px;
    padding: 10px;
    background-color: rgb(240, 240, 244);
    border: 5px solid rgb(18, 117, 185);
    margin: 10px;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    overflow-x: scroll;
}