/*通用样式*/

body {
    margin: 0;
    padding: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}


/*头部样式设置*/

header nav {
    text-align: center;
}

header nav ul {
    padding: 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    text-decoration: none;
    font-size: 14px;
    line-height: 2;
    color: #fff;
}


/*正文部分样式，其中red、green、blue及preview类样式源码为jQuery UI滑块源码*/

section {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.themeswitcher,
.themeswitcher .ts_content {
    height: 136px;
}

.themeswitcher .ts_content {
    width: 500px;
    margin: 0 auto;
}

#red,
#green,
#blue {
    float: left;
    clear: left;
    width: 300px;
    margin: 15px;
}

#preview {
    width: 120px;
    height: 100px;
    margin-left: 350px;
    background-image: none;
    border-radius: 10px;
}

#red .ui-slider-range {
    background: #ef2929;
}

#red .ui-slider-handle {
    border-color: #ef2929;
}

#green .ui-slider-range {
    background: #8ae234;
}

#green .ui-slider-handle {
    border-color: #8ae234;
}

#blue .ui-slider-range {
    background: #729fcf;
}

#blue .ui-slider-handle {
    border-color: #729fcf;
}

.ui_widget_content {
    background-color: #eee;
}

section article {
    margin-top: 20px;
    font-size: 16px;
    line-height: 2;
}

section article h3 {
    margin: 0;
}
