html {
    overflow: auto;
}

body,
header,
footer,
div,
ul,
li,
span {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

ul {
    list-style: none;
}

header,
footer {
    display: block;
}

header {
    height: 76px;
    width: 100%;
    font-size: 13px;
}

header .header_menu_items {
    padding-right: 12px;
    margin: 19px 0 5px 0;
}

header .header_menu_items ul li {
    float: right;
    margin-left: 20px;
    padding: 4px 0;
}

header .header_menu_items ul li {
    display: block;
}


/* Use first-child pseudo-class selector to replace nth-child selector, which cannot use in IE7 and IE8; in IE6, use id selector */

header .header_menu_items ul li:first-child {
    background-color: rgb(51, 136, 255);
    padding: 4px 4px;
}

header .header_menu_items ul li a {
    color: rgb(0, 0, 0);
}

.a_more {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

header .header_menu_items ul li a:hover {
    color: rgb(0, 0, 255);
}

.content {
    height: 445px;
    height: 390px\9;
    +height: 405px;
    width: 100%;
    text-align: center;
}


/* Use id selector instead of attribute selector, which cannot use in IE6 */

#bdimg {
    position: absolute;
    top: 10%;
    left: 50%;
    margin: -5px 0 0 -135px;
    margin-top: 7px\9;
}

#kw {
    height: 32px;
    width: 540px;
    position: absolute;
    top: 35%;
    left: 50%;
    margin: -12px 0 0 -320px;
    margin-top: 5px\9;
    border: 1px solid rgb(153, 153, 153);
    outline: none;
    font-size: 16px;
}

#search {
    height: 36px;
    width: 100px;
    position: absolute;
    top: 35%;
    left: 50%;
    margin: -12px 0 0 222px;
    margin-top: 5px\9;
    background-color: rgb(49, 126, 243);
    color: rgb(255, 255, 255);
    border-style: none;
    font-size: 15px;
}

footer {
    width: 100%;
    font-size: 12px;
    text-align: center;
}

footer .footer_menu_items {
    padding-bottom: 4px;
    padding-bottom: 6px\0;
}

footer .footer_menu_items ul li {
    display: inline;
    padding: 8px;
}

footer .gray {
    color: rgb(102, 102, 102);
}
