body {
    margin: 0px;
    padding: 0px;
    font-family: Arial;
}

.container {
    position: relative;
    margin: 0px auto;
    width: 400px;
    height: 520px;
}

.hair .left,
.hair .right {
    position: absolute;
    top: 20px;
    height: 40px;
    width: 34px;
}

.hair .left {
    left: 160px;
    border-right: 6px solid rgb(0, 0, 0);
    border-top-right-radius: 40px 40px;
}

.hair .right {
    left: 200px;
    border-left: 6px solid rgb(0, 0, 0);
    border-top-left-radius: 40px 40px;
}

.arm .left,
.arm .right {
    width: 90px;
    height: 24px;
    background-color: rgb(251, 208, 103);
    border: 4px solid rgb(0, 0, 0);
    position: absolute;
    top: 310px;
}

.arm .left {
    left: 8px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -webkit-transform-origin: 100% 50%;
    -webkit-animation: arm_left_move 8s infinite;
    -moz-animation: arm_left_move 8s infinite;
    -o-animation: arm_left_move 8s infinite;
    animation: arm_left_move 8s infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

.arm .right {
    left: 292px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    -webkit-transform-origin: 0% 50%;
    -webkit-animation: arm_right_move 8s infinite;
    -moz-animation: arm_right_move 8s infinite;
    -o-animation: arm_right_move 8s infinite;
    animation: arm_right_move 8s infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

.minion_body {
    position: absolute;
    top: 60px;
    left: 80px;
    height: 392px;
    width: 232px;
    background-color: rgb(251, 208, 103);
    border: 4px solid rgb(0, 0, 0);
    border-radius: 108px 108px 90px 90px;
    overflow: hidden;
    z-index: 2;
}

.glasses_stripe .left,
.glasses_stripe .right {
    height: 32px;
    width: 32px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 75px;
}

.glasses_stripe .left {
    left: -10px;
}

.glasses_stripe .right {
    left: 210px;
}

.eye .left,
.eye .right {
    height: 80px;
    width: 80px;
    border: 10px solid rgb(205, 205, 205);
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 40px;
}

.eye .left {
    left: 16px;
}

.eye .right {
    left: 116px;
}

.pupil_black {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    position: relative;
}

.eye .left .pupil_black,
.eye .right .pupil_black {
    left: 24px;
    -webkit-animation: pupil_black_move 8s infinite;
    -moz-animation: pupil_black_move 8s infinite;
    -o-animation: pupil_black_move 8s infinite;
    animation: pupil_black_move 8s infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

.pupil_white {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: relative;
}

.eye .left .pupil_black .pupil_white,
.eye .right .pupil_black .pupil_white {
    left: 8px;
    -webkit-animation: pupil_white_move 8s infinite;
    -moz-animation: pupil_white_move 8s infinite;
    -o-animation: pupil_white_move 8s infinite;
    animation: pupil_white_move 8s infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

.mouth {
    width: 80px;
    height: 40px;
    position: absolute;
    border: 4px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    top: 175px;
    left: 72px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.trousers {
    position: absolute;
}

.trousers_stripe .left,
.trousers_stripe .right {
    width: 90px;
    height: 16px;
    background-color: rgb(26, 108, 159);
    border: 4px solid rgb(0, 0, 0);
    position: absolute;
    z-index: 2;
}

.trousers_stripe .left {
    left: -15px;
    top: 190px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    -webkit-transform-origin: 0% 50%;
}

.trousers_stripe .right {
    left: 185px;
    top: 260px;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    -webkit-transform-origin: 0% 50%;
}

.trousers_stripe .left:after,
.trousers_stripe .right:after {
    content: '';
    width: 8px;
    height: 8px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    position: absolute;
    z-index: 2;
}

.trousers_stripe .left:after {
    top: 4px;
    left: 77px;
}

.trousers_stripe .right:after {
    top: 4px;
    left: 5px;
}

.trousers_mid {
    position: absolute;
    width: 160px;
    height: 60px;
    position: absolute;
    top: 254px;
    left: 36px;
    background-color: rgb(26, 108, 159);
    border-top: 4px solid rgb(0, 0, 0);
    border-left: 4px solid rgb(0, 0, 0);
    border-right: 4px solid rgb(0, 0, 0);
    z-index: 2;
}

.pocket {
    width: 46px;
    height: 30px;
    background-color: rgb(26, 108, 159);
    border: 4px solid rgb(0, 0, 0);
    position: absolute;
    left: 53px;
    top: 20px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.trousers_bottom {
    height: 102px;
    width: 232px;
    position: absolute;
    top: 314px;
    left: 0px;
    background-color: rgb(26, 108, 159);
    border-top: 4px solid rgb(0, 0, 0);
    border-bottom-left-radius: 82px;
    border-bottom-right-radius: 82px;
}

.leg .left,
.leg .right {
    position: absolute;
    top: 458px;
    height: 24px;
    width: 32px;
    border-left: 4px solid rgb(0, 0, 0);
    border-right: 4px solid rgb(0, 0, 0);
    background-color: rgb(26, 108, 159);
}

.leg .left {
    left: 150px;
}

.leg .right {
    left: 210px;
}

.shoes .left,
.shoes .right {
    position: absolute;
    top: 480px;
    height: 20px;
    width: 60px;
    background-color: rgb(0, 0, 0);
}

.shoes .left {
    left: 130px;
    border-top-left-radius: 50%;
}

.shoes .right {
    left: 210px;
    border-top-right-radius: 50%;
}

@-webkit-keyframes arm_left_move {
    0% {
        -webkit-transform: rotate(-30deg);
    }
    50% {
        -webkit-transform: rotate(-30deg);
    }
    62.5% {
        -webkit-transform: rotate(0deg);
    }
    75% {
        -webkit-transform: rotate(30deg);
    }
    87.5% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-30deg);
    }
}

@-moz-keyframes arm_left_move {
    0% {
        transform: rotate(-30deg);
    }
    50% {
        transform: rotate(-30deg);
    }
    62.5% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(30deg);
    }
    87.5% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-30deg);
    }
}

@-o-keyframes arm_left_move {
    0% {
        transform: rotate(-30deg);
    }
    50% {
        transform: rotate(-30deg);
    }
    62.5% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(30deg);
    }
    87.5% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-30deg);
    }
}

@keyframes arm_left_move {
    0% {
        transform: rotate(-30deg);
    }
    50% {
        transform: rotate(-30deg);
    }
    62.5% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(30deg);
    }
    87.5% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-30deg);
    }
}

@-webkit-keyframes arm_right_move {
    0% {
        -webkit-transform: rotate(30deg);
    }
    12.5% {
        -webkit-transform: rotate(0deg);
    }
    25% {
        -webkit-transform: rotate(-30deg);
    }
    37.5% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(30deg);
    }
    100% {
        -webkit-transform: rotate(30deg);
    }
}

@-moz-keyframes arm_right_move {
    0% {
        transform: rotate(30deg);
    }
    12.5% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-30deg);
    }
    37.5% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(30deg);
    }
}

@-o-keyframes arm_right_move {
    0% {
        transform: rotate(30deg);
    }
    12.5% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-30deg);
    }
    37.5% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(30deg);
    }
}

@keyframes arm_right_move {
    0% {
        transform: rotate(30deg);
    }
    12.5% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-30deg);
    }
    37.5% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(30deg);
    }
}

@-webkit-keyframes pupil_black_move {
    0% {
        left: 24px;
        top: 0px;
    }
    12.5% {
        left: 41px;
        top: 7px;
    }
    25% {
        left: 48px;
        top: 24px;
    }
    37.5% {
        left: 41px;
        top: 41px;
    }
    50% {
        left: 24px;
        top: 48px;
    }
    62.5% {
        left: 7px;
        top: 41px;
    }
    75% {
        left: 0px;
        top: 24px;
    }
    87.5% {
        left: 7px;
        top: 7px;
    }
    100% {
        left: 24px;
        top: 0px;
    }
}

@-moz-keyframes pupil_black_move {
    0% {
        left: 24px;
        top: 0px;
    }
    12.5% {
        left: 41px;
        top: 7px;
    }
    25% {
        left: 48px;
        top: 24px;
    }
    37.5% {
        left: 41px;
        top: 41px;
    }
    50% {
        left: 24px;
        top: 48px;
    }
    62.5% {
        left: 7px;
        top: 41px;
    }
    75% {
        left: 0px;
        top: 24px;
    }
    87.5% {
        left: 7px;
        top: 7px;
    }
    100% {
        left: 24px;
        top: 0px;
    }
}

@-o-keyframes pupil_black_move {
    0% {
        left: 24px;
        top: 0px;
    }
    12.5% {
        left: 41px;
        top: 7px;
    }
    25% {
        left: 48px;
        top: 24px;
    }
    37.5% {
        left: 41px;
        top: 41px;
    }
    50% {
        left: 24px;
        top: 48px;
    }
    62.5% {
        left: 7px;
        top: 41px;
    }
    75% {
        left: 0px;
        top: 24px;
    }
    87.5% {
        left: 7px;
        top: 7px;
    }
    100% {
        left: 24px;
        top: 0px;
    }
}

@keyframes pupil_black_move {
    0% {
        left: 24px;
        top: 0px;
    }
    12.5% {
        left: 41px;
        top: 7px;
    }
    25% {
        left: 48px;
        top: 24px;
    }
    37.5% {
        left: 41px;
        top: 41px;
    }
    50% {
        left: 24px;
        top: 48px;
    }
    62.5% {
        left: 7px;
        top: 41px;
    }
    75% {
        left: 0px;
        top: 24px;
    }
    87.5% {
        left: 7px;
        top: 7px;
    }
    100% {
        left: 24px;
        top: 0px;
    }
}

@-webkit-keyframes pupil_white_move {
    0% {
        left: 8px;
        top: 0px;
    }
    12.5% {
        left: 14px;
        top: 2px;
    }
    25% {
        left: 16px;
        top: 8px;
    }
    37.5% {
        left: 14px;
        top: 14px;
    }
    50% {
        left: 8px;
        top: 16px;
    }
    62.5% {
        left: 2px;
        top: 14px;
    }
    75% {
        left: 0px;
        top: 8px;
    }
    87.5% {
        left: 2px;
        top: 2px;
    }
    100% {
        left: 8px;
        top: 0px;
    }
}

@-moz-keyframes pupil_white_move {
    0% {
        left: 8px;
        top: 0px;
    }
    12.5% {
        left: 14px;
        top: 2px;
    }
    25% {
        left: 16px;
        top: 8px;
    }
    37.5% {
        left: 14px;
        top: 14px;
    }
    50% {
        left: 8px;
        top: 16px;
    }
    62.5% {
        left: 2px;
        top: 14px;
    }
    75% {
        left: 0px;
        top: 8px;
    }
    87.5% {
        left: 2px;
        top: 2px;
    }
    100% {
        left: 8px;
        top: 0px;
    }
}

@-o-keyframes pupil_white_move {
    0% {
        left: 8px;
        top: 0px;
    }
    12.5% {
        left: 14px;
        top: 2px;
    }
    25% {
        left: 16px;
        top: 8px;
    }
    37.5% {
        left: 14px;
        top: 14px;
    }
    50% {
        left: 8px;
        top: 16px;
    }
    62.5% {
        left: 2px;
        top: 14px;
    }
    75% {
        left: 0px;
        top: 8px;
    }
    87.5% {
        left: 2px;
        top: 2px;
    }
    100% {
        left: 8px;
        top: 0px;
    }
}

@keyframes pupil_white_move {
    0% {
        left: 8px;
        top: 0px;
    }
    12.5% {
        left: 14px;
        top: 2px;
    }
    25% {
        left: 16px;
        top: 8px;
    }
    37.5% {
        left: 14px;
        top: 14px;
    }
    50% {
        left: 8px;
        top: 16px;
    }
    62.5% {
        left: 2px;
        top: 14px;
    }
    75% {
        left: 0px;
        top: 8px;
    }
    87.5% {
        left: 2px;
        top: 2px;
    }
    100% {
        left: 8px;
        top: 0px;
    }
}
